<header class="topo">
  <h2>Rope Estore - {{ slogan }} </h2>
  <ul class="menu">
    <li><a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/produtos" routerLinkActive="ativo">Produtos</a></li>
    <li><a routerLink="/sobre" routerLinkActive="ativo">Sobre Nós</a></li>
    <li><a routerLink="/contato" routerLinkActive="ativo">Contato</a></li>
    <li><a routerLink="/carrinho" routerLinkActive="ativo">Carrinho</a></li>
  </ul>
  @if (carrinhoService.totalItens() > 0){
  <span>Você tem {{ carrinhoService.totalItens() }} item(ns) no carrinho </span>
  } @else {
  <span>Nenhum item no carrinho!</span>
  }
</header>