<header class="topo">
  <div class="container topo-inner">
    <div class="brand">
      <div class="logo">PS</div>
      <div>
        <div class="titulo">Projeto Social</div>
        <div class="sub">Angular (Aulas 01–07)</div>
      </div>
    </div>

    <nav class="menu">
      <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/campanhas" routerLinkActive="ativo">Campanhas</a>
      <a routerLink="/sobre" routerLinkActive="ativo">Sobre</a>
    </nav>
  </div>
</header>
